<h1 mat-dialog-title>Creare NFT</h1>
<div mat-dialog-content>
  <form [formGroup]="profileForm">
    <label for="deployment-time">Deployment time (hours): </label>
    <mat-form-field class="name-item" appearance="fill">
      <mat-label>Deployment time</mat-label>
      <input
        matInput
        id="deployment-time"
        type="text"
        formControlName="deploymentTime"
      />
    </mat-form-field>

    <label for="initial-bid">Initial bid: </label>
    <mat-form-field class="name-item" appearance="fill">
      <mat-label>Initial bid</mat-label>
      <input
        matInput
        id="dinitial-bid"
        type="text"
        formControlName="initialBid"
      />
    </mat-form-field>
    <br />
  </form>
  <br />
  <app-button
    label="Adauga licitatie"
    id="closeModal"
    (click)="onSubmit()"
  ></app-button>
  <app-button label="Cancel" (click)="close()"></app-button>
</div>
